.write-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.write-box {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.write-box label {
    display: block;
    margin-bottom: 5px;
}

.write-box input[type="text"],
.write-box textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.write-box button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.write-box button:hover {
    background-color: #0056b3;
}

/* 버튼 스타일 수정 */
.write-box button[type="submit"] {
    background-color: #4CAF50;
    transition: background-color 0.3s ease;
}

.write-box button[type="submit"]:hover {
    background-color: #45a049;
}

.file-upload-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}